/* hero section */

.hero-section {
	min-width: 320px;
	background-color: var(--dark-color);
	background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url(../../images/hero/office-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 72px;
	padding-bottom: 72px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px),
	screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
	.hero-section {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url('../../images/hero/office-mobile@2x.jpg');
	}
}

.hero-title {
	color: var(--white-background-color);
	max-width: 288px;
	height: 160px;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	margin-bottom: 72px;
}

.hero-button {
	color: var(--white-background-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: var(--primary-brand-color);
	cursor: pointer;
	border: none;
	border-radius: 4px;
	display: block;
	min-width: 169px;
	height: 56px;
	margin-top: 48px;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active {
	background-color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
	.hero-section {
		/* min-width: 768px; */
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../../images/hero/office-tablet.jpg);

		padding-top: 112px;
		padding-bottom: 112px;
	}
	.hero-title {
		max-width: 496px;
		height: 120px;
		font-size: 56px;
		font-weight: 700;
		line-height: 1.07;
		margin-bottom: 72px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px),
	screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
	.banner {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url('../../images/hero/office-tablet@2x.jpg');
	}
}

@media screen and (min-width: 1158px) {
	.hero-section {
		/* max-width: 1440px; */
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../../images/hero/office-desktop.jpg);
		padding-top: 188px;
		padding-bottom: 188px;
	}
}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px),
	screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) {
	.banner {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url('../../images/hero/office-desktop@2x.jpg');
	}
}
