/* team section */

.team-section {
	background-color: var(--light-background-color);
	padding-top: 96px;
	padding-bottom: 96px;
}

.team-title {
	color: var(--dark-color);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.team-list {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.team-card {
	background-color: var(--white-background-color);
	max-width: 264px;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.person-data {
	padding-top: 32px;
	padding-bottom: 32px;
}

.person-name {
	color: var(--dark-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	margin-bottom: 8px;
}

.person-position {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	margin-bottom: 8px;
}

.social-links-list {
	max-width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	gap: 24px;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
}

.social-links-item {
	width: 40px;
	height: 40px;
}

.social-links {
	width: 100%;
	height: 100%;
	background-color: var(--primary-brand-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon {
	fill: var(--light-background-color);
}

.social-links:hover,
.social-links:focus,
.social-links:active {
	background-color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
	.team-section {
		padding: 96px 0;
	}
	.team-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 64px;
	}

	.team-card {
		background-color: var(--white-background-color);
		width: calc((100%-24px) / 2);
	}
}

@media screen and (min-width: 1158px) {
	.team-section {
		background-color: var(--light-background-color);
		padding: 120px 0;
	}

	.team-list {
		display: flex;
		gap: 24px;
		flex-wrap: nowrap;
	}
}

/* .team-section {
	background-color: var(--light-background-color);
	padding: 120px 0;
}

.team-title {
	color: var(--dark-color);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.team-list {
	display: flex;
	gap: 24px;
}

.team-card {
	background-color: var(--white-background-color);
	width: calc((100%-24px) / 3);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.person-data {
	padding-top: 32px;
	padding-bottom: 32px;
}

.person-name {
	color: var(--dark-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	margin-bottom: 8px;
}

.person-position {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	margin-bottom: 8px;
}

.social-links-list {
	max-width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	gap: 24px;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
}

.social-links-item {
	width: 40px;
	height: 40px;
}

.social-links {
	width: 100%;
	height: 100%;
	background-color: var(--primary-brand-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon {
	fill: var(--light-background-color);
}

.social-links:hover,
.social-links:focus,
.social-links:active {
	background-color: var(--pressed-state-color);
} */
