:root {
	--text-color: #434455;
	--white-background-color: #ffffff;
	--light-background-color: #f4f4fd;
	--modal-background-color: #fcfcfc;
	--cornflower: #e7e9fc;
	--gray-border-color: #8e8f99;
	--gray-transparent-color: rgba(46, 47, 66, 0.4);
	--primary-brand-color: #4d5ae5;
	--dark-color: #2e2f42;
	--pressed-state-color: #404bbf;
	--success-green-color: #31d0aa;
}
